*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    font-family: 'Montserrat', sans-serif;
}
.container{
    width: 60%;
    height: 250px;
    background-color:transparent;
    
    
}
#time{
    width: 100%;
    font-size:72px;
    text-align:center;
    margin: 0px auto;
    padding: 35px;
    color: #ffffff;
}
#time:hover{
    color: aqua;
}
.buttons{
    text-align: center;
    
   
}
button{
    background-color: transparent;
    height: 25px;
    width: 50px;
    margin: 20px;
    border: none;
    
}
#play{
    color: #ffffff;
    background-color: transparent;
    transition: .2s;
}
#play:hover{
    color: aqua;
    transition: .3s;
}
#reset{
    color: #ffffff;
    background-color: transparent;
    transition: .2s;
}
#reset:hover{
        color: aqua;
        transition: .3s;
}

#pause{
    color: #ffffff;
    background-color: transparent;
    transition: .2s;
}

/* For mobile and tabs*/
@media (max-width:480px){
  #time{
    font-size: 32px;
  }
}
